<div class= "container">
  <h3 class= "text-center">Contact Us</h3>
  
  <%= form_for "/contacts" do |f| %>
   <%= f.label :Name %>
   <%= f.type_fleid :name>
   
   <%= f.label :Email %>
   <%= f.type_fleid :email>
   
   <%= f.label :comments %>
   <%= f.type_fleid :comments>
   
   <%= f.submit :'Submit' %>
 <%= end %>
</div>


   
   
   
  

   
   